.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon




# Floobits
.floo
.floobit
.floo
.flooignore

#NPM
node_modules

#lib
public/lib/*

#Database
db/shortly.sqlite

